.content-area {
	margin: 0 0 0 0;
	width: $size__site-content;
}

.site-main {
	margin: 0 0 0 0;
	width: $size__site-content;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.widget-area {
	width: $size__site-sidebar;
}
