.intro-para-wrap{
	width: 100%;
	height: 30%;
	font-size: 1rem;
	color: $SonicSilver;
	font-weight: 300;
	.intro-container{
		width: 80%;
		height: 100%;
		margin: 0 auto;
		padding: 20px;
		padding-left: 0;
	}
}