.slide-wrap{
	position: relative;
	width: $slidearea_width;
	height: $slidearea_height;
	background: #aaa;
	.slide-container{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		.indi-slide{
			width: 80%;
			height: 100%;
			margin: 0 auto;
			img{
				display: block;
				z-index: 5;
			}
		}
	}
}
