.slide-wrap {
	position: relative;
	width: $slidearea_width;
	height: $slidearea_height;
	background: #aaa;
	&:before{
		clear: both;
	}
}

.slide-container {
		display: block;
		position: relative;
		top:0;
		
		width: 80%;
		height: $slidearea_height;
		
		margin: 0 auto;
}

.slide-contianer > * {
		position: absolute;

		display: block;

		width: 80%;
		height: 100%;
}
