$size__site-main: 100%;
$size__site-sidebar: 14%;
$size__site-content: 75%;

// slide height and width 
$slidearea_height: 448px;
$slidearea_width: 100%;

// margin for <main> tag in main content area 
$margin-main-top : 20px;
$margin-main-left: 168px;
$margin-main-right: 20px;

// margin for <aside> sidebar
$margin-sidebar-left: 0;
$margin-sidebar-right: 120px;
$margin-sidebar-top: 100px;